.hidden {
  display: none;
}

.visible {
  display: block;
  height: 100%;
  overflow: auto;
  margin-top: 52px;
}

.symbols {
  position: absolute;
  top: 48px;
}

.editor {
  
  min-height: 100%;
  font-size: 18px;
}

/* Syntax highlighting */
.token.comment {
  color: #608b4e;
}
.token.prolog,
.token.doctype,
.token.cdata {
  color: #90a4ae;
}
.token.punctuation {
  color: #569cd6;
}
.namespace {
  opacity: 0.7;
}
.token.property {
  color: #9cdcfe;
}
.token.tag {
  color: #b5cea8;
}
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #b5cea8;
}
.token.selector {
  color: #d7ba7d;
}
.token.attr-name {
  color: #9cdcfe;
}
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #ce9178;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #ce9178;
}
.token.atrule,
.token.attr-value {
  color: #ce9178;
}
.token.keyword {
  color: #569cd6;
}
.token.function {
  color: #9cdcfe;
}
.token.regex,
.token.important,
.token.variable {
  color: #569cd6;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}