.hidden {
  display: none;
}

.visible {
  display: block;
  color: white;
}

iframe {
  border: none;
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: calc(100% - 24px);
  background: white;
}