.symbols {
  width: 100%;
  background: #303030;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.symbol {
  color: white;
  cursor: pointer;
  text-align: center;
  height: auto;
  padding: 8px;
  border-radius: 0px;
  font-size: 24px;
}