.tabs {
  display: flex;
  height: 36px;
}

button {
  width: 25%;
  height: 100%;
  border: none;
  background: none;
  color: white;
  border-radius: 8px 8px 0px 0px;
  transition: .4s;
  cursor: pointer;
}

.active {
  background: #505050;
}