/* Page */
html {
  box-sizing: border-box;
  background: black;
  color: white;
  font-family: monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-transform: none;
}

:focus {
  outline:none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}